:root {
  --bedrock-text-color: #62666a;
  --bedrock-link-color: #076277;
  --bedrock-bg-color-highlight: #ffffff;
  --bedrock-bg-color: #f6f8f9;
  --bedrock-bg-color-secondary: #e5eeec;
  --bedrock-border-color: #bbbbbb;
  --bedrock-danger-color: #c10000;
  --mindful-words-footer-text: #e5eeed;
  --mindful-words-footer-bg: #62666b;
}
